/*Home page*/

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
  padding-bottom: 20vh;
  text-shadow: 1px -2px 1px #000;
}

main .main-logo {
  background-image: url(./img/Hidden_Valley_Logo_Transparent.PNG);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 600px;
  width: 500px;
}

main .main-2 {
  display: flex;
  flex-direction: row-reverse;
  gap: 200px;
  align-items: baseline;
  justify-content: space-evenly;
}

main h1 {
  font-size: 43px;
  line-height: 55px;
  font-style: italic;
}

main p {
  position: absolute;
  font-size: 24px;
  margin-right: 700px;
  margin-top: 260px;
}

main p:nth-child(2) {
  border-left: solid 5px var(--site-color-6);
  padding: 0 20px;
  margin-right: 200px;
  margin-top: 125px;
}
main p:nth-child(3) {
  border-left: solid 5px var(--site-color-6);
  padding: 0 20px;
  margin-top: 0px;
  margin-right: 550px;
}

.main-photo-container {
  background-image: url(./img/HVRC-schedule.JPG);
  background-size: cover;
  height: 600px;
  width: 500px;
  border-radius: 15px;
  background-position: center;
  box-shadow: 5px 5px 5px #000;
}

/* Slideshow container */
.slideshow-container {
  border-radius: 15px;
  box-shadow: 5px 5px 5px #000;
  height: 350px;
  width: 400px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.slideshow-container img {
  float: center;
  object-fit: cover;
  border-radius: 15px;
  height: 350px;
  width: 400px;
  object-position: top right;
}

.slideshow-container i {
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
  border-radius: 5px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* login section*/

.social-media-banner {
  width: 100%;
  padding: 30px;
  background-color: var(--site-color-5);
  color: var(--site-color-2);
  font-size: 28px;
  line-height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
}

.social-media-banner p {
  font-size: 28px;
  line-height: 45px;
}

/*mobile response*/

/* <600px, 601px, 768px, 992px, 1200px */

@media only screen and (max-width: 600px) {
  main p {
    display: none;
  }
  main {
    width: 100%;
    height: calc(100vh -90px);
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding-bottom: 20vh;
    text-shadow: 1px -2px 1px #000;

    align-items: flex-end;
  }
  main .main-logo {
    display: none;
  }

  main h1 {
    font-size: 2.5rem;
    line-height: 1.25;
    text-align: center;
    margin: 0 20px 0 20px;
  }

  main .main-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  .main-photo-container {
    background-image: url(./img/HVRC-schedule.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    box-shadow: none;
    display: flex;
  }

  .slideshow-container {
    display: flex;
    justify-content: center;
  }

  .social-media-banner {
    display: none;
    width: 100%;
  }

  .social-media-banner {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  main p {
    display: none;
  }
  main {
    width: 100%;
    height: calc(100vh -90px);
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding-bottom: 20vh;
    text-shadow: 1px -2px 1px #000;

    align-items: flex-end;
  }
  main .main-logo {
    display: none;
  }

  main h1 {
    font-size: 2.5rem;
    line-height: 1.25;
    text-align: center;
    margin: 0 20px 0 20px;
  }

  main .main-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  .main-photo-container {
    background-image: url(./img/HVRC-schedule.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    box-shadow: none;
    display: flex;
  }

  .slideshow-container {
    display: flex;
    justify-content: center;
  }

  .social-media-banner {
    display: none;
    width: 100%;
  }

  .social-media-banner {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  main p {
    display: none;
  }
  main {
    width: 100%;
    height: calc(100vh -90px);
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding-bottom: 20vh;
    text-shadow: 1px -2px 1px #000;

    align-items: flex-end;
  }
  main .main-logo {
    display: none;
  }

  main h1 {
    font-size: 2.5rem;
    line-height: 1.25;
    text-align: center;
    margin: 0 20px 0 20px;
  }

  main .main-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  .main-photo-container {
    background-image: url(./img/HVRC-schedule.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    box-shadow: none;
    display: flex;
  }

  .slideshow-container {
    display: flex;
    justify-content: center;
  }

  .social-media-banner {
    display: none;
    width: 100%;
  }

  .social-media-banner {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  main p {
    display: none;
  }
  main {
    width: 100%;
    height: calc(100vh -90px);
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding-bottom: 20vh;
    text-shadow: 1px -2px 1px #000;

    align-items: flex-end;
  }
  main .main-logo {
    display: none;
  }

  main h1 {
    font-size: 2.5rem;
    line-height: 1.25;
    text-align: center;
    margin: 0 20px 0 20px;
  }

  main .main-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  .main-photo-container {
    background-image: url(./img/HVRC-schedule.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    box-shadow: none;
    display: flex;
  }

  .slideshow-container {
    display: flex;
    justify-content: center;
  }

  .social-media-banner {
    display: none;
    width: 100%;
  }

  .social-media-banner {
    display: none;
  }
}
